
*{
  margin: 0;
  padding: 0;
  font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic';
  color:#fff;
  background-color: rgb(0, 0, 0);
}
ul{
  list-style: none;
}
header{
  margin-bottom: 10px;
}
main{
  text-align: center;
  width: 80%;
  margin: auto;
}
.header-title span{
  font-size: 46px;
  color: #eb0000;
}
.header-title h1{
  font-size: 43px;
}
.header-title{
  margin:10px 0px;
  text-align: center;
}
.start-day{
  font-size: 40px;
  text-align: center;
}
.start-day span{
  color: #eb0000;
}
.competition-info{

  text-align: center;
}
.competition-item{

  display: inline-block;
  text-align: center;
}
.competition-item-title{
  text-align: center;
}
.competition-item-button{
  text-align: center;
  margin: 20px 25px;
}
.competition-item-button a{
    color: #fff;
    font-size:20px;
    background:#eb0000;
    padding: 10px 30px;
    display: inline-block;
    border-radius: 5px;
    text-decoration: none;
}
.item-parent{
  margin: 15px 0px;
}
.item{
  padding:10px;
  display: inline-block;
  width:55%;
  text-align: left;
  border: 1px solid #eb0000;
}
