*{
  margin: 0;
  padding: 0;
  font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic';
  color:#fff;
  background-color: rgb(0, 0, 0);
}
ul{
  list-style: none;
}
header{
  margin-bottom: 10px;
}
main{
  text-align: center;
  width: 80%;
  margin: auto;
}
.header-title span{
  font-size: 46px;
  color: #eb0000;
}
.header-title h1{
  font-size: 43px;
}
.header-title{
  margin:10px 0px;
  text-align: center;
}
.start-day{
  font-size: 40px;
  text-align: center;
}
.start-day span{
  color: #eb0000;
}
.competition-info{

  text-align: center;
}
.competition-item{

  display: inline-block;
  text-align: center;
}
.competition-item-title{
  text-align: center;
}
.competition-item-button{
  text-align: center;
  margin: 20px 25px;
}
.competition-item-button a{
    color: #fff;
    font-size:20px;
    background:#eb0000;
    padding: 10px 30px;
    display: inline-block;
    border-radius: 5px;
    text-decoration: none;
}
.item-parent{
  margin: 15px 0px;
}
.item{
  padding:10px;
  display: inline-block;
  width:55%;
  text-align: left;
  border: 1px solid #eb0000;
}
.item-title sup{
  font-size: 5px;
}
.caster-img img{
  border:1px solid #ff2020;
  width:200px;
  height: 200px;
  border-radius: 50%;
}
.caster-img{
  border-radius: 50%;
  width:200px;
  height: 200px;
  display: inline-block;
}
.caster-description{
  width: 45%;
  display: inline-block;
}
.caster-container{
  text-align: center;
}
.caster-item{
  width: 80%;
  margin:auto;
}

@media (max-width: 375px ) {
  main{
    width:100%;
  }
  header{
    margin-top: 35px;
  }
  .header-title span{
    font-size: 39px;
  }
  .header-title h1{
    font-size: 36px;
  }
  .competition-item{
    width: 50%;
    float: left;
    margin-bottom: 15px;
  }
  .item-parent{
    width:100%;
  }
  .item{
    width: 90%;
  }
  .caster-img img{
    border:1px solid #ff2020;
    width: 90px;
    height: 90px;
    border-radius: 50%;
  }
  .caster-img{
    border-radius: 50%;
    width: 90px;
    height: 90px;
    display: inline-block;
  }
}
